*@xianfei @date:2016/8/29 @see:saleOnline main.css start*/

/**main start*/
* {
	font-size: 14px;
	font-family: "PingFang";
	box-sizing: border-box;
}
.s1v1, .s1v2, .s0v1, .s1v3, .next1,.s2v2 {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
.Stepcont {
	display: none;
}
.s0input1::-webkit-input-placeholder {

	/* WebKit browsers */
	color: rgb(120, 231, 187);
}
.s0input1:-moz-placeholder {

	/* Mozilla Firefox 4 to 18 */
	color: rgb(120, 231, 187);
}
.s0input1:-ms-input-placeholder {

	/* Internet Explorer 10+ */
	color: rgb(120, 231, 187);
}
input {
	outline: medium;
}

/**main end*/

/**STEP_0 start*/
#STEP_0 {
	height: 100%;
	background-image: url("../img/register/bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	text-align: center;
}
#STEP_0 input {
	border: none;	/*background-image: url("../img/register/bg.png");*/
	color: #fff;
	background: rgba(73, 213, 157, .1);
	margin-top: 7px;
	margin-left: 20px;
}
.st0img1 {
	margin-top: 40px;
	width: 43%;
	margin-bottom: 25px;
}
.s0v0 {
	border-bottom: 1px #fff solid;
	margin-bottom: 20px;
	width: 85%;
	display: inline-block;
	padding-bottom: 13px;
	text-align: left;
}
.st0img2 {
	width: 20px;
	margin-left: 19px;
}
.s0v1 {
	display: inline-block;
	width: 85%;
	height: 44px;
	border: 1px solid #fff;
	background-color: #75E1AF;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	line-height: 44px;
	font-size: 18px;
	font-family: "PingFang";
	color: rgb(255, 255, 255);
	margin-top: 20px;
	margin-bottom: 15px;
}
.s0v2 {
	display: inline-block;
	width: 85%;
}
.s0v2p1 {
	color: rgb(1, 117, 74);
	float: left;
}
.s0v2p2 {
	color: rgb(255, 255, 255);
	float: right;
}
.title {
	font-size: 17px;
	color: rgb(238, 255, 226);
	background-color: #44D29E;
	text-align: center;
	height: 50px;
	margin-bottom: 20px;
}
.title img {
	float: left;
	width: 12px;
	margin-top: 12px;
	margin-left: 13px;
}
.title span {
	display: inline-block;
	margin-right: 13px;
	margin-top: 14px;
}

/**STEP_0 end*/

/**STEP_1 start*/
.s1v1 {
	border: 1px solid #C8C8C8;
	width: 85%;
	margin: 0 auto;
	padding: 8px;
	color: rgb(69, 69, 69);
	font-size: 14px;
	height: 46px;
}
.s1v2 {
	width: 85%;
	margin: 0 auto;
	margin-top: 30px;
	height: 46px;
	margin-bottom: 30px;
}
.s1v3 {
	border: 1px solid #C8C8C8;
	padding: 8px;
	height: 46px;
}
.s1img1 {
	width: 20px;
}
.s1input1::-webkit-input-placeholder {

	/* WebKit browsers */
	color: rgb(200, 200, 200);
}
.s1input1:-moz-placeholder {

	/* Mozilla Firefox 4 to 18 */
	color: rgb(200, 200, 200);
}
.s1input1:-ms-input-placeholder {

	/* Internet Explorer 10+ */
	color: rgb(200, 200, 200);
}
.s1v3 {
	display: inline-block;
	width: 60%;
}
.s1img2 {
	height: 46px;
	width: 37%;
}
#reg_code {
	width: 85px;
}
.s1input1 {
	margin-top: 8px;
}
.next1 {
	margin: 0 auto;
	font-size: 18px;
	font-family: "PingFang";
	background-color: #E8E8E8;
	color: rgb(255, 255, 255);
	line-height: 30px;
	height: 44px;
	text-align: center;
	border-radius: 5px;
	width: 85%;
	padding: 8px;
}
.active {
	background-color: #44D29E;
	cursor: pointer;
}

/**STEP_1 end*/

/**STEP_2 start*/
.s2v1 {
	font-size: 14px;
	color: rgb(69, 69, 69);
	width: 85%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.s2v2 {
	width: 85%;
	margin: 0 auto;
	border: 1px solid #C8C8C8;
	padding: 8px;
	margin-bottom: 30px;
}
.s2img1 {
	width: 20px;
}
.s2input1 {
}
.countdownTime {
	width: 95px;
	background: #E8E8E8;
	display: inline-block;
	height: 47px;
	float: right;
	text-align: center;
	line-height: 44px;
	position: relative;
	top: -9px;
	right: -10px;
	color: #9d9d9e;
}
.phonecode {
	margin-top: 5px;
	color: rgb(69, 69, 69);
}
.resetTime {
	color: #fff;
	font-size: 14px;
	background-color: #98F3D2;
}

/**STEP_2 end*/

/**STEP_3 start*/


.s3label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	float: left;
	background-position-y: 2px;
	background-image: url(../img/register/uncheck.png);
	background-size: 15px;
	background-repeat: no-repeat;
}
input[type=checkbox]:checked + label:before {
	background-image: url(../img/register/check.png);
}
#s3v2 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.s3v3 {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
	color: rgb(69, 69, 69);
	margin-bottom: 30px;
}
.s3p1 {
	color: #44D29E;
}
#STEP_3_1 p {
	text-align: center;
}
.s3input {
	margin-top: 8px;
	width: 200px;
}
.s5input{
    margin-top: 8px;
	width: 200px;
}
/**STEP_3 end*/

/**STEP_4 start*/
#STEP_4 {
	text-align: center;
}

.s4img{
		width: 132px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#s4count {
	color: rgb(68, 210, 158);
	margin-bottom: 30px;
}
.s4p1{
	 margin-bottom: 30px;
}
/**STEP_3 end*/

/**@xianfei @date:2016/8/29 @see:saleOnline main.css end